<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/common/head"></head>
<title>个人信息</title>
<link rel="stylesheet" th:href="@{/common/css/info.css}">
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">
        <!-- aside -->
        <div th:replace="user/common/side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="user/common/header"></div>

            <!-- main -->
            <el-main class="app-main">
                <el-card>
                    <el-row :gutter="200">
                        <el-col :xs="24" :sm="12" :lg="24" :span="12" style="padding-bottom: 20px;">
                            <el-card class="card-category">
                                <div slot="header">
                                    <span>廉政档案</span>
                                </div>
                                <div>
                                    <table cellpadding="0" cellspacing="0" border="1">
                                        <tr>
                                            <td width="64">姓名</td>
                                            <td width="109">王绚浩</td>
                                            <td width="73">性别</td>
                                            <td width="46">男</td>
                                            <td width="112">出生年月（岁）</td>
                                            <td width="159">汉族</td>
                                            <td width="154" rowspan="4"><p ><img src="3c1dd7d958c7dc47a2b707e8a72b5e64.jpg" width="154" height="203" /></p></td>
                                        </tr>
                                        <tr>
                                            <td>民族</td>
                                            <td>汉</td>
                                            <td>籍贯</td>
                                            <td>60kg</td>
                                            <td>出生地</td>
                                            <td>团员</td>
                                        </tr>
                                        <tr>
                                            <td>入党时间</td>
                                            <td>三年制</td>
                                            <td>参加工作时间</td>
                                            <td>专科</td>
                                            <td>健康状态</td>
                                            <td>2016.07</td>
                                        </tr>
                                        <tr>
                                            <td height="46">户籍</td>
                                            <td colspan="2">山东省淄博市高青县</td>
                                            <td>出生年月</td>
                                            <td colspan="2">1995.0403</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3">学历<br/>学位</td>
                                            <tr>
                                                <td height="39">全日制<br/>教育</td>
                                                <td colspan="2"><p>读写熟练，简单日常交流。</p></td>
                                                <td>在职<br/>教育</td>
                                                <td colspan="2"><p>熟练使用Office、WPS、PPT等办公软件</p></td>
                                            </tr>
                                            <tr>
                                                <td height="39">毕业院校<br/>系及专业</td>
                                                <td colspan="2"><p>读写熟练，简单日常交流。</p></td>
                                                <td>毕业院校<br/>系及专业</td>
                                                <td colspan="2"><p>熟练使用Office、WPS、PPT等办公软件</p></td>
                                            </tr>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><p>现任职务</p></td>
                                            <td colspan="5"><p>担任飞翔合唱团13级负责人 </p></td>
                                        </tr>
                                        <tr>
                                            <td><p >简历</p></td>
                                            <td colspan="6"><p>担任飞翔合唱团13级负责人 </p>
                                                <p >2014年3月获得山东&#8220;青歌赛&#8221;民族业余组一等奖。 </p>
                                                <p >2014年3月获得山东&#8220;青歌赛&#8221;民族业余组二等奖。 </p>
                                                <p >2014年7月获得全国大学生艺术展演声乐类三等奖， </p>
                                                <p >2014年7月获得山东省大学生艺术展演声乐类一等奖。 </p></td>
                                        </tr>
                                        <tr>
                                            <td><p >奖惩情况</p></td>
                                            <td colspan="6"><p>担任飞翔合唱团13级负责人 </p></td>
                                        </tr>
                                        <tr>
                                            <td><p >年度考核结果</p></td>
                                            <td colspan="6"><p>担任飞翔合唱团13级负责人 </p></td>
                                        </tr>
                                    </table>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-card>
            </el-main>
        </el-container>
    </div>
</div>
</body>
<div th:replace="user/common/js"></div>
<script type="text/javascript" th:src="@{/common/js/user/info.js}"></script>
</html>
