<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/common/head"></head>
<title>个人信息</title>
<link rel="stylesheet" th:href="@{/common/css/info.css}">
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">
        <!-- aside -->
        <div th:replace="user/common/side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="user/common/header"></div>

            <!-- main -->
            <el-main class="app-main">
                <el-card>
                    <el-row :gutter="200">
                        <el-col :xs="24" :sm="12" :lg="24" :span="12" style="padding-bottom: 20px;">
                            <el-card class="card-category">
                                <div slot="header">
                                    <span>廉政档案</span>
                                </div>
                                <div>
                                    <table cellpadding="0" cellspacing="0" border="1">
                                        <tr>
                                            <td align="center"><p>收受红包、礼金、有价证券<br/>及其他受馈赠的情况</p></td>
                                            <td>{{cleanArchive.shoshou}}</td>
                                        </tr>
                                        <tr>
                                            <td align="center"><p>个人操办婚丧嫁娶<br/>报备及执行情况</p></td>
                                            <td>{{cleanArchive.geren}}</td>
                                        </tr>
                                        <tr>
                                            <td align="center"><p>配偶及成年子女就业<br/>及所在国籍情况</p></td>
                                            <td>{{cleanArchive.peiou}}</td>
                                        </tr>
                                        <tr>
                                            <td align="center"><p>个人在企业、社会<br/>及其酬取情况</p></td>
                                            <td>{{cleanArchive.zaiqi}}</td>
                                        </tr>
                                        <tr>
                                            <td align="center"><p>个人是否参与涉矿、涉矿企业<br/>经营活动或参与分红情况</p></td>
                                            <td>{{ cleanArchive.shifou }}</td>
                                        </tr>
                                        <tr>
                                            <td align="center"><p>个人年度科研经费入账使用<br/>及财务个人借款情况</p></td>
                                            <td>{{cleanArchive.niandu}}</td>
                                        </tr>
                                        <tr>
                                            <td align="center"><p>个人因私出入国（境）情况</p></td>
                                            <td>{{cleanArchive.yinsi}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </el-card>
                        </el-col>
                    </el-row>
                </el-card>
            </el-main>
        </el-container>
    </div>
</div>
</body>
<div th:replace="user/common/js"></div>
<script type="text/javascript" th:src="@{/common/js/user/cleanArchive.js}"></script>
</html>
