<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/common/head"></head>
<title>个人信息</title>
<link rel="stylesheet" th:href="@{/common/css/info.css}">
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">
        <!-- aside -->
        <div th:replace="user/common/side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="user/common/header"></div>

            <!-- main -->
            <el-main class="app-main">
                <el-card>
                    <h2>个人信息</h2>
                            <el-card class="card-category">
                                <div slot="header">
                                    <span>个人信息</span>
                                    <el-button size="small" style="float:right" plain type="primary" @click="handleChangePasswd">修改密码</el-button>
                                </div>
                                <div>
                                    <table cellpadding="0" cellspacing="0" border="1">
                                        <tr>
                                            <td width="64">姓名</td>
                                            <td width="109">{{userInfo.name}}</td>
                                            <td width="73">性别</td>
                                            <td width="46">{{userInfo.gender}}</td>
                                            <td width="112">出生年月（岁）</td>
                                            <td width="159">{{userInfo.dateOfBirth}}</td>
                                            <td width="154" rowspan="4">{{userInfo.avater}}</td>
                                        </tr>
                                        <tr>
                                            <td>民族</td>
                                            <td>{{userInfo.nation}}</td>
                                            <td>籍贯</td>
                                            <td>{{userInfo.nativePlace}}</td>
                                            <td>出生地</td>
                                            <td>{{userInfo.placeOfBirth}}</td>
                                        </tr>
                                        <tr>
                                            <td>入党时间</td>
                                            <td>{{userInfo.dateOfJoinParty}}</td>
                                            <td>参加工作时间</td>
                                            <td>{{userInfo.dateOfJoinWork}}</td>
                                            <td>健康状态</td>
                                            <td>{{userInfo.physicalCondition}}</td>
                                        </tr>
                                        <tr>
                                            <td height="46">专业技术职务</td>
                                            <td colspan="2">{{userInfo.technicalPosition}}</td>
                                            <td>熟悉专业有何专长</td>
                                            <td colspan="2">{{userInfo.familiarMajorAndSpecialty}}</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3">学历<br/>学位</td>
                                            <tr>
                                                <td height="39">全日制<br/>教育</td>
                                                <td colspan="2"><p>{{userInfo.fullTimeDegree}}</p></td>
                                                <td height="39">毕业院校<br/>系及专业</td>
                                                <td colspan="2"><p>{{userInfo.fullTimeGraduatedUniversityAndMajor}}</p></td>
                                            </tr>
                                            <tr>
                                                <td>在职<br/>教育</td>
                                                <td colspan="2"><p>{{userInfo.partTimeDegree}}</p></td>
                                                <td>毕业院校<br/>系及专业</td>
                                                <td colspan="2"><p>{{userInfo.partTimeGraduatedUniversityAndMajor}}</p></td>
                                            </tr>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><p>现任职务</p></td>
                                            <td colspan="5"><p>{{userInfo.currentPosition}} </p></td>
                                        </tr>
                                        <tr>
                                            <td><p >简历</p></td>
                                            <td colspan="6">{{userInfo.resume}}</td>
                                        </tr>
                                        <tr>
                                            <td><p >奖惩情况</p></td>
                                            <td colspan="6"><p>{{userInfo.rewardsAndPunishment}}</p></td>
                                        </tr>
                                        <tr>
                                            <td><p >年度考核结果</p></td>
                                            <td colspan="6"><p>{{userInfo.annualAssessmentResults}}</p></td>
                                        </tr>
                                    </table>
                                </div>
                            </el-card>
                </el-card>
            </el-main>
        </el-container>
    </div><!-- 修改密码 -->
    <el-dialog title="修改密码" :visible.sync="changePasswdDialog" width="30%" :append-to-body='true'
               :before-close="handleChangePasswdClose">
            <span>
                <el-form label-width="100px" ref="pass" :model="pass">
                    <el-form-item required prop="userPasswd" :rules="[{ required: true, message: '请输入新密码'}]" label="输入新密码">
                        <el-input placeholder="请输入新密码,密码长度在5位及以上" v-model="pass.userPasswd" type="password"></el-input>
                    </el-form-item>
                    <el-form-item required prop="repassword" :rules="[{ required: true, message: '确认新密码'}]" label="确认新密码">
                        <el-input placeholder="确认新密码" v-model="pass.repassword" type="password"></el-input>
                    </el-form-item>
                </el-form>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="changePasswdDialog = false">取 消</el-button>
                <el-button type="primary" @click="changePasswd">修 改</el-button>
            </span>
    </el-dialog>
</div>
</body>
<div th:replace="user/common/js"></div>
<script type="text/javascript" th:src="@{/common/js/user/info.js}"></script>
</html>
