<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/common/head"></head>
<title>个人动态</title>
<link rel="stylesheet" th:href="@{/common/css/links.css}">
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">
        <!-- aside -->
        <div th:replace="user/common/side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="user/common/header"></div>

            <!-- main -->
            <el-main class="app-main">
                <el-card>
                    <el-button type="primary" @click="edit">更 新</el-button>
                    <el-tag v-if="personDecla.enableStatus == 1">审核通过</el-tag>
                    <el-tag type="success" v-if="personDecla.enableStatus == 2">待审核</el-tag>
                    <el-tag type="danger" v-if="personDecla.enableStatus == 3">未通过审核</el-tag>
                    <el-form :inline="true" :model="editor">
                        <el-form-item prop="renmian" label="任免情况&emsp;&emsp;" style="width: 600px">
                            <el-input type="textarea" style="width: 500px" autosize placeholder="请输入内容" v-model="personDecla.renmian"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="renshi" label="人事档案情况">
                            <el-input type="textarea" style="width: 500px" autosize placeholder="请输入内容" v-model="personDecla.renshi"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="yinbu" label="因不如实报告个人有关事项受到处理的情况">
                            <el-input type="textarea" style="width: 500px" autosize placeholder="请输入内容" v-model="personDecla.yinbu"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="xunshi" label="巡视视察、信访、案件监督管理以及其他方面移交的问题线索和处理情况">
                            <el-input type="textarea" style="width: 550px" autosize placeholder="请输入内容" v-model="personDecla.xunshi"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="kaizhan" label="开展谈话函询、初步核实、审查调查、以及其他工作形成的材料">
                            <el-input type="textarea" style="width: 550px" autosize placeholder="请输入内容" v-model="personDecla.kaizhan"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="dangfeng" label="党风廉政意见回复材料">
                            <el-input type="textarea" style="width: 550px" autosize placeholder="请输入内容" v-model="personDecla.dangfeng"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="qita" label="其他反映廉政情况的材料">
                            <el-input type="textarea" style="width: 550px" autosize placeholder="请输入内容" v-model="personDecla.qita"></el-input>
                        </el-form-item>
                    </el-form>
                </el-card>
            </el-main>
        </el-container>
    </div>
</div>
</body>
<div th:replace="user/common/js"></div>
<script type="text/javascript" th:src="@{/common/js/user/personDecla.js}"></script>
</html>
