<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iotlab.integrityarchives.dao.AdminDao">

    <!-- 根据user_id查询其关联分类表中的数据 -->
    <select id="findUserInfoByUserId" parameterType="integer" resultType="com.iotlab.integrityarchives.entity.UserInfo">
        SELECT  tui.id,tui.user_number,tui.user_passwd,tui.user_info,tui.salt,
        tui.create_time,tui.last_edit_time,tui.enable_status
        FROM tb_user tu, tb_user_info tui
        WHERE tu.id=tui.id AND tu.id = #{id}
    </select>


    <select id="findById" parameterType="Integer" resultType="com.iotlab.integrityarchives.entity.Admin">
        select * from admin where admin_id=#{id}
    </select>

    <select id="findAll" resultType="com.iotlab.integrityarchives.entity.Admin">
        select * from admin order by admin_id desc
    </select>

    <select id="countAll" resultType="Integer">
        select count(*) from admin
    </select>

    <select id="findByPage" parameterType="Map" resultType="com.iotlab.integrityarchives.entity.Admin">
        select * from admin order by admin_id desc
        <if test="start!=null and quantity!=null">
            limit #{start},#{quantity}
        </if>
    </select>
</mapper>
