<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iotlab.integrityarchives.dao.UserInfoDao">


    <select id="findByNameOrWorld" parameterType="string" resultType="com.iotlab.integrityarchives.entity.UserInfo">
        SELECT *
        from tb_user_info
        where name LIKE CONCAT('%',#{word},'%')
           or user_number=#{word};
    </select>





</mapper>
